{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Dogfight | Feed
{% endblock title %}

{% block content %}

 <div class="container">
  <div class="card-deck mt-5">

   {% for course in course_list %}

            <div class="card">
                <a href="{% url 'course' course.pk %}">
                {% if course.img %}
                    <img src="{% static course.img %}" alt="The Oaks" class="card-img-top">

                {% endif %}
                <div class="card-body">{{ course.name }}</div>
                </a>

            </div>

    {% endfor %}
  </div>
</div>


    {% if user.profile.initial %}
        <p style="color: red">No Handicap Entered</p>
    {% else %}
        <p>Current Quota: {{ user.profile.getCurrentQuota }}</p>
    {% endif %}



{% endblock content %}