{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Dogfight | Feed
{% endblock title %}

{% block content %}

    {% if dogfight %}
        <div class="parallax-window" data-parallax="scroll" data-image-src="{% static dogfight.course.img %}"></div>

        <div class="container-fluid" style="height: 1000px;">
        <div class="container text-center">
            <h1>{{ dogfight.formal_text|safe }}</h1>
        </div>

    {% endif %}

</div>


    {% if user.profile.initial %}
        <p style="color: red">No Handicap Entered</p>
    {% else %}
        <p>Current Quota: {{ user.profile.getCurrentQuota }}</p>
    {% endif %}



{% endblock content %}

{% block additional_javascript %}
<script src="{% static 'js/parallax.js-1.5.0/parallax.js' %}"></script>
{% endblock additional_javascript %}